<!-- <!DOCTYPE html> -->
<!-- <html> -->
<!-- <body> -->
	<form action="" method="post" name="post">
					<div class="content">
						<!--<TEXTAREA Name="content" ROWS=20 COLS=60></TEXTAREA>-->
						{{ form.outfit_one(size=80, maxlength=200) }}
					</div>
					<div class="content">
						{{ form.outfit_two(size=80, maxlength=200) }}
					</div>
					<div class="content">
						{{ form.outfit_three(size=80, maxlength=200) }}
					</div>
					<input type="submit" value="POST!">
		</form>
<!-- </body> -->
<!-- </html> -->