body {
	width: 100%;
	margin: auto;
}

.container{
	width: 1200px;
	margin: 0 auto;
}

.header{
	background: #566D7E;
	width: 100%;
	top: 0;
	position: fixed;
}

.logo{
	float: left;
	font-family: "neutra";
	font-size: 15px;
}

a{
	text-decoration: none;
	color: #BBD8D8;
}

li{
	list-style: none;
	float: left;
	margin-left: 15px; 
	padding-top: 10px; 
}

.nav{
	float: right;
}

p{
	font-size: 20px;
	font-family: "neutra";
}
#div1 {
	width:325px;
	height:250px;
	padding:10px;
	border:1px solid #aaaaaa;
	background-color: white;
}